body {
  background: darkgray;
  color: gray;
  font-size: 2em;
  text-align: center;
}
#wrapper {
  overflow: auto;
  margin: 10px;
  display: inline-block;
}
#canvas {
  background: lightgray;
  border: solid 1px gray;
  float: left;
}
#caption {
  padding: 25px;
  float: left;
}
